<section class="about-section">
  <div class="container d-flex">
    <div class="about-text">
      <h2>About Us</h2>
      <p>Ownly was established in 2015 after its founder, Asher Licciardi, realised that strata, trades, owners, tenants
        and property managers were facing an unprecedented level of complexity and inefficiency that they simply didn’t
        need to experience. Being a career entrepreneur and trade business owner who was working with many of these
        groups, Asher made the decision to do something about it, and Ownly was born.</p>
      <p>The core of the Ownly business is its unique focus on building a ‘living’ property file that grows and develops
        over time through inputs from a number of third party contribution sources. Ownly has coined the tagline,
        “Property Fingerprint”. </p>
      <p>The Property Fingerprint suggests that like a human fingerprint, properties are unique in the way they develop
        over time: bought, sold, rented, renovated, serviced, knocked down, amalgamated. No two property lifetimes are
        exactly the same. </p>
      <p>In order to develop a robust property file with meaningful information, the property file must interact with
        and collect data from multiple sources in a mutually beneficial way. Much the same as Google provides a ‘free’
        service to businesses wishing to list with Google which in turns helps Google aggregate data and add value to
        another set of users, Ownly will list, and provide services to trades, properties and agents, in order to grow
        the amount of data on its property files.</p>
      <h3>Vision</h3>
      <p>The vision for Ownly is that the market will start to see the property file as being a key, if not critical,
        piece of information that is required in order to make an informed decision about a property purchase. Selling a
        car without a log book is much more difficult than selling one with a log book. The high value inherent in a
        property transaction should see a shift towards a demand for high quality property files. </p>
      <h3>Mission</h3>
      <p>The mission is to digitise every property in the world and create a communication framework around those
        properties that connects the various stakeholders in a clear and effective manner. </p>
    </div>
    <div class="about-img">
      <img src="assets/images/Web-Showcase-Project-Presentation@2x.png">
    </div>
  </div>
</section>