.btn-send-message {
  border-color: #00d7fc;
  background: #00d7fc;
  box-shadow: none;
  color: #fff;
  border-radius: 17px;
  /* box-shadow: 0px 2px 0px 0px #eee; */
  padding: 7px 20px;
  font-size: 13px;
  margin: 5px 0px;
}

.btn-send-message:hover:not(:disabled) {
  outline: none;
  background: #fff !important;
  border-color: #00d7fc !important;
  color: #00d7fc !important;
  text-decoration: none;
}
