<section class="contact-page">
  <div class="container">
    <h2>TRADES MARKETPLACE PRIVACY POLICY</h2>
    <div>
      <div class="marketplace-boxs">
        <h4>1. WE RESPECT YOUR PRIVACY</h4>
        <p>Thank you for using our website located at www.ownly.com.au (“<strong>Platform</strong>”). This
          Platform is operated by Ownly Pty Ltd (ACN 613 813 219) (“<strong>Platform Operator</strong>”).</p>
        <p>Ownly Pty Ltd is an online marketplace that connects trades people (“<strong>Contractors</strong>”)
          with customers (“<strong>Customers</strong>”) in their local area (our “<strong>Services</strong>”).</p>
        <p>Platform Operator values transparency and privacy. We are committed to maintaining
          the security of personal information (“<strong>Personal Information</strong>”) provided to us.</p>
        <p>Our Privacy Policy is intended to clearly explain what Personal Information we collect
          about you, how we collect your Personal Information, how we share your Personal
          Information, how we store your Personal Information, how we transfer Personal
          Information and other information about how we manage your Personal Information.
        </p>
        <p>We adhere to the Australian Privacy Principles contained in the Privacy Act 1988 (Cth).
          This Privacy Policy sets out how we collect and treat your Personal Information. We
          are fully committed to transparency and using technology responsibly to protect your
          Personal Information.</p>
        <p>Please read this Privacy Policy carefully as it explains how we collect, store and use
          your Personal Information in accordance with the applicable Privacy Laws.
        </p>
        <p>Any reference to “Ownly”, “we”, “our”, or “us” means Ownly Pty Ltd (ACN 613 813 219).
          Any reference to “you, or “your” or “Subscriber” means you as a user of our Platform
          or Services.</p>
        <p>By using our Platform , you consent to our collection, use, storage and disclosure of
          your Personal Information in accordance with this Privacy Policy.
        </p>
      </div>

      <div class="marketplace-boxs">
        <h4>2. DEFINITIONS</h4>
        <p>“<strong>Subscriber Account</strong>” means a registered account of a Subscriber.</p>
        <p>“<strong>Personal Information</strong>” means information about an individual or busines whose
          identity is apparent or can reasonably be ascertained from that information.
        </p>
        <p>“<strong>Privacy Laws</strong>” means the Privacy Act 1988 (Cth) and the Privacy Amendment
          (Notifiable Data Breaches) Act 2017 (Cth).
        </p>
        <p>“<strong>Services</strong>” means the services we offer as described on our Platform.</p>
        <p>“<strong>Platform</strong>” means the Platform located at <a href="https://www.ownly.com.au" target="_blank"
            style="font-weight:normal; text-decoration: none !important;">https://www.ownly.com.au</a> through which
          the Services are made available.</p>
      </div>

      <div class="marketplace-boxs">
        <h4>3. PURPOSE OF THIS PRIVACY POLICY</h4>
        <p>This Privacy Policy details how we safeguard your Personal Information and our
          privacy obligations to you in compliance with the Privacy Laws. It will give you an
          understanding of:</p>
        <ol type="a">
          <li>the types of Personal Information that Platform Operator collects and holds;</li>
          <li>how and when Platform Operator collects, discloses, uses, stores and otherwise
            handles personal information;</li>
          <li>the purposes for which Platform Operator collects, holds, uses and discloses
            Personal Information;</li>
          <li>how you may access your Personal Information and seek correction of your
            Personal Information; </li>
          <li>how we store your Personal Information and keep it secure; </li>
          <li>how to make a complaint and how Platform Operator will deal with your
            complaint.</li>
        </ol>
      </div>

      <div class="marketplace-boxs">
        <h4>4. WHAT PERSONAL INFORMATION WE COLLECT</h4>
        <p>We collect Personal Information for the primary purpose of supplying our Services,
          providing information to Subscribers, and marketing. Platform Operator collects the
          following types of Personal Information:</p>
        <ol type="a">
          <li>Personal Information such as your name, the name of your business or company,
            your address, phone number, email address, payment details such as your credit
            or debit card details and any other Personal Information required for us to provide
            you with our Services, communicate with you and to keep a record of your
            transactions, and</li>
          <li>Marketing Personal Information so that we can market our Platform and Services
            or that of third parties to you in accordance with your preferences. Before we
            share your Personal Information with any third party for marketing purposes, we
            will obtain your consent as required by the Privacy Laws. You can unsubscribe
            from our mailing list at any time by following the opt-out link on any message sent
            to you. In all cases, we will respect your preferences for how you would like us to
            manage marketing activity with you.
          </li>
        </ol>
        <p>We may also collect Personal Information from you:</p>
        <ol type="a">
          <li>when you fill out forms on our Platform for registration, promotional purposes and
            opt-in with your full name and email address to confirm your subscription to
            emails and updates from Platform Operator;</li>
          <li>when you provide feedback or information relating to your business, change your
            content or email preference, respond to surveys or promotions, or communicate
            with our customer support team.</li>
        </ol>
      </div>

      <div class="marketplace-boxs">
        <h4>5. HOW WE COLLECT YOUR PERSONAL INFORMATION</h4>
        <p>Platform Operator collects Personal Information from you in a variety of ways, including
          when you interact with us electronically or in person, when you access our Platform
          and when we provide our Services to you.</p>
        <p>We will collect your Personal Information when you register with us to become a
          Subscriber or when you give us Personal Information in person, via social media,
          through other means of online communication, or on the telephone, or through email or
          other correspondence.</p>
        <p>We may also receive Personal Information from third parties. If we do, we will protect
          your Personal Information in accordance with this Privacy Policy. We may also use
          third parties to administer and deliver services and communications such as
          newsletters, weekly updates and online surveys by email, phone or mail.</p>
      </div>

      <div class="marketplace-boxs">
        <h4>6. HOW WE USE YOUR PERSONAL INFORMATION</h4>
        <p>We use your Personal Information and you consent to us using your Personal
          Information to:</p>
        <ol type="a">
          <li>provide you with our Services;</li>
          <li>administer our business activities;</li>
          <li>process transactions involving our business and through our Platform where you
            have purchased our Services.</li>
          <li>manage, research and develop our Services including through data analytics;</li>
          <li>provide you with information about our Platform and Services;</li>
          <li>communicate with you by a variety of measures including, but not limited to, by
            telephone, email, SMS or mail;</li>
          <li>meet legal, regulatory and compliance obligations; and</li>
          <li>investigate any complaints.</li>
        </ol>
        <p>If you choose to withhold your Personal Information, it may not be possible for us to
          provide you with our Services or for you to access certain parts of our Platform or for
          us to respond to your query.</p>
      </div>

      <div class="marketplace-boxs">
        <h4>7. DISCLOSURE OF YOUR PERSONAL INFORMATION AND THIRD PARTIES WITH
          ACCESS TO IT</h4>
        <p>We will only share your Personal Information with third parties where you have given
          us your consent, and only for the purposes described in this Privacy Policy.</p>
        <p>We may disclose your Personal Information to any of our employees, officers, insurers,
          professional advisers, agents, suppliers or subcontractors insofar as reasonably
          necessary for the purposes set out in this Policy.</p>
        <p>We may share your Personal Information with other Subscribers to facilitate the
          delivery of our Services.</p>
        <p>We may share your Personal Information with third-party service providers to help us
          supply our Services and to give you access to and use of our payment gateway
          providers.</p>
        <p>When we disclose your data to third-party service providers, we do so on the basis that
          your data is treated with confidence, and only used for the limited purpose of supplying
          our Services or Platform support, and in a manner consistent with this Privacy Policy.
        </p>
        <p>If there is a change of control in our business or a sale or transfer of business assets,
          we reserve the right to transfer to the extent permissible at law our user databases,together with any
          Personal
          Information and non-Personal Information contained in
          those databases.</p>
      </div>

      <div class="marketplace-boxs">
        <h4>8. SECURITY OF YOUR PERSONAL INFORMATION</h4>
        <p>Platform Operator is committed to ensuring that the Personal Information you provide
          to us is secure.</p>
        <p>To prevent unauthorised access or disclosure, we have put in place suitable physical,
          electronic and managerial procedures to safeguard and secure Personal Information.</p>
        <p>It is important that you keep your Personal Information secure. You must notify us
          immediately if you are aware, or believe, that someone other than yourself without
          authorisation has access to your Subscriber Account with Platform Operator. You must
          not give your login and password details to any other person. You should also take
          measures, such as changing your login and password details regularly, so that your
          account is secure.</p>
      </div>

      <div class="marketplace-boxs">
        <h4>9. ACCESS TO YOUR PERSONAL INFORMATION</h4>
        <p>You may request details of the Personal Information that we hold about you in
          accordance with the Privacy Laws.</p>
        <p>If you would like a copy of your Personal Information or believe that your Personal
          Information is inaccurate, out of date, or incomplete, please <a [routerLink]="['/contact_us']"
            target="_blank">Contact us</a> via
          the
          Contact us page on our Platform or by using the contact details provided below.</p>
        <p>We will require you to verify your identity and to specify what information you require or
          need to update.</p>
        <p>We request that you keep your information as current as possible so that we may
          continue to improve our supply of Services to you.</p>
        <p>We reserve the right not to provide you with data, as set out in certain circumstances
          under the Privacy Act 1988 (Cth)</p>
      </div>

      <div class="marketplace-boxs">
        <h4>10. THIRD-PARTY TOOLS AND COOKIES</h4>
        <p>When you use or access our Platform or any third-party platform including third party
          service providers, such as Google Analytics, third-party payment gateway providers or
          other third-party advertising and links, there may be cookies and similar technologies
          that store log files to collect information about your use of the
        </p>
        <p>Cookies are small text files (often including a unique identifier) that can be stored on
          your computer, tablet or mobile device when you visit a website. A cookie stores a
          small amount of data on your device about your visit to a website.</p>
        <p>These small files contain information about your browsing activity. Cookies are also
          used to identify you when you come back to the Platform and store details about your
          use of the Platform. They are widely used to make websites work more efficiently, to
          improve user experience and to provide information to website operators.</p>
        <p>In addition, cookies can be used to analyse traffic and may be used to serve relevant
          ads to Platform visitors through third party services such as Google AdWords.</p>
        <p>To understand more about cookies and how they are set, visit <a href="www.aboutcookies.org"
            target="_blank">www.aboutcookies.org</a>
          or <a href="www.allaboutcookies.org" target="_blank">www.allaboutcookies.org</a>.</p>
        <p>We may use the following cookies to help the functioning of the Platform and to
          improve user experience:
        </p>
        <ol type="a">
          <li>Strictly necessary cookies: These cookies are necessary for the functioning of
            the Platform and help to improve the efficiency of the Platform for users.</li>
          <li>Analytical/performance cookies: These cookies monitor your use of the Platform.
            For example, they collect information about website traffic and use, unique users,
            unique sessions and store information about users’ sessions and website
            campaigns. </li>
          <li>Targeting/advertising cookies: These cookies help us to provide useful and more
            targeted advertising. </li>
          <li>Preference cookies: These cookies help us to identify Users, so that we
            remember your preferences on the Platform.</li>
        </ol>
        <p>You may accept or refuse cookies from our Platform or any other website by managing
          the settings on your browser. You can opt-out from accepting our cookies by editing
          your browser options, but certain features of our Platform will not function if you disable
          cookies. You can find out how to manage and opt-out from cookies on popular
          browsers by visiting the specific browser developer’s website.
        </p>
        <p>We may also use web beacons, action tags, and tracking devices to provide analytical
          and user data that can help us monitor usage and improve the Platform.
        </p>
        <p>Non-Personal Information is information about you or your activities which cannot be
          used to personally identify you. We may collect non-Personal Information through your
          browser, through text files (cookies), applications (e.g. mobile applications), and your
          IP address. We use non-Personal Information to compile statistical information about
          the use of our Platform (or for maintenance purposes) which may include (but is not
          limited to) recording your server address, your top-level domain name, the date and
          time of your visit to the Platform, the pages you accessed and downloaded, the
          previous site you visited and the types of browser you are using.</p>
        <p>Any third-party advertisements and links that are provided to you on the Platform may
          also use cookies and other similar technologies to gather your information. When you
          leave the Platform to visit a link or advertisement provided to you via the Platform, any
          information you provide to such advertisements or links, whether voluntarily or
          involuntarily, will not be governed by this Privacy Policy. You should visit the relevant
          third-party privacy policy to find out how they use your information.</p>
      </div>

      <div class="marketplace-boxs">
        <h4>11. GENERAL DISCLAIMER</h4>
        <p>Your use of our Platform is at your own risk. You agree that the information contained
          on this Platform is provided for general informative purposes only.</p>
        <p>Platform Operator makes no representation or warranty as to the accuracy or
          completeness of any such information.</p>
        <p>We do not warrant that the Platform will be uninterrupted or free from error or that any
          defects on the Platform will be corrected or that the Platform or servers are free of
          viruses or other harmful conditions or components.</p>
        <p>Although we take all appropriate security measures to protect your information, we
          cannot guarantee the security of information transmitted over the Internet. Please do
          not send sensitive or confidential information to us by email. We assume no
          responsibility for any loss of confidentiality or for the security of any information that
          you transmit to us electronically.</p>
        <p>This Privacy Policy is part of and subject to our Terms. If there is a conflict between our
          Terms and this Privacy Policy, our Terms shall prevail to the extent of such
          inconsistency.</p>
      </div>

      <div class="marketplace-boxs">
        <h4>12. THIRD PARTY INFORMATION AND LINKS</h4>
        <p>Our Platform may from time to time have links to other websites not owned or
          controlled by us or otherwise we may refer to third-party information on our Platform .</p>
        <p>We are not responsible for the privacy practices of other websites. It is the
          responsibility of the individual Internet user to make decisions regarding the relevance,
          accuracy, currency or reliability of information found on other websites.</p>
      </div>

      <div class="marketplace-boxs">
        <h4>13. CHANGES TO PRIVACY POLICY</h4>
        <p>We will update our Privacy Policy from time to time to reflect changes in our practices.
          The effective date of these updates will be reflected at the bottom of this Privacy
          Policy.</p>
      </div>

      <div class="marketplace-boxs">
        <h4>14. COMPLAINTS ABOUT PRIVACY</h4>
        <p>If you have any questions or concerns about our collection, use or disclosure of your
          Personal Information, or if you would like to seek access to your Personal Information
          that we hold, please <a [routerLink]="['/contact_us']" target="_blank">Contact Us</a> using the details
          provided
          below.
        </p>
      </div>

      <div class="marketplace-boxs">
        <h4>15. OUR CONTACT DETAILS</h4>
        <ol type="a">
          <li>using our support page provided on our website located at <a href="https://www.ownly.com.au"
              target="_blank"
              style="font-weight:normal; text-decoration: none !important;">https://www.ownly.com.au</a>;</li>
          <li>by telephone, on the contact number published on the Platform Operator
            Platform or website; or</li>
          <li>by email, using the email address published on the Platform Operator Platform or
            website (from time to time).
          </li>
        </ol>
      </div>

      <div class="marketplace-boxs">
        <h4>© 2019 Ownly Pty Ltd. All Rights Reserved.</h4>
        <p>Privacy Policy last updated 5 October 2019.</p>
      </div>
    </div>
  </div>
</section>