<ng-container>
  <div class="trade-layout">

    <section class="trade-hub-content post-job">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/images/004-home.png" alt="" />
            <p>
              Identify your work to a property indefinitely
            </p>
          </div>
          <div class="col-md-4">
            <img src="assets/images/001-virus.png" alt="" />
            <p>
              No matter if it is bought or sold, the occupant can look you up
            </p>
          </div>
          <div class="col-md-4">
            <img src="assets/images/003-lock.png" alt="" />
            <p>
              Secure your share of the market, secure your future
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="trade-hub-content post-job">
      <div class="container">
        <div class="d-flex">
          <div class="trade-hub-content-l">
            <img src="assets/images/showTheWorld.jpg" alt="" />
          </div>
          <div class="trade-hub-content-r">
            <h2>Show The World Who You Are</h2>
            <p>The premium listing lets anyone search your business, see your portfolio, read your reviews and contact
              you to request
              your services. With $130Bn spent by households on trades every year, you deserve to be found and given
              your fair share.
            </p>
            <button type="button" (click)="scrollToTop()">Start My Profile</button>
          </div>
        </div>
      </div>
    </section>

    <section class="trade-hub-content recive-quotes">
      <div class="container">
        <div class="d-flex">
          <div class="trade-hub-content-l">
            <img src="assets/images/Group 3373.png" alt="" />
          </div>
          <div class="trade-hub-content-r">
            <h2>Be The Best In Your Community</h2>
            <p>When you complete a job, other job searchers in the area can see you’ve been doing a great job and can
              hire you. The
              neighbour, the house across the road. They can all reach out and request your services.
            </p>
            <button type="button" (click)="scrollToTop()"> Start My Profile </button>
          </div>
        </div>
      </div>
    </section>

    <section class="trade-hub-content choose-trader">
      <div class="container">
        <div class="d-flex">
          <div class="trade-hub-content-l">
            <img src="assets/images/Group 3374.png" alt="" />
          </div>
          <div class="trade-hub-content-r">
            <h2>Securing Australian Jobs, Securing Your Business.</h2>
            <p>When you perform a job through Ownly Trade your work is logged through the Ownly saving you time and
              money through a streamlined communication platform. Create your trade database across Australia. Anyone
              that orders a trade through that property again will see your profile as the top pick for a new work
              request.
            </p>
            <button type="button" (click)="scrollToTop()"> Join now</button>
          </div>
        </div>
      </div>
    </section>

    <section class="what-you-get">
      <div class="container">
        <div class="what-get-div">
          <h2>The Ownly Packages</h2>
          <h6>All the basics to get your business heading in the right direction.</h6>
          <ul>
            <li>
              <div class="what-get-li">
                <h3>Quote On Jobs In Your Chosen Postcode</h3>
                <p>Whenever a job is posted in your chosen postcode, you receive a notification there is a job to quote
                  on.
                  Just open the app and start chatting to the service seeker.</p>
              </div>
            </li>
            <li>
              <div class="what-get-li">
                <h3>Completed Jobs Saved To Property Indefinitely</h3>
                <p>When you complete a job, your work is saved to the property forever. If the property is bought and
                  sold,
                  you will still be attached and will pop up first for any new service request on that address.</p>
              </div>
            </li>
            <li>
              <div class="what-get-li">
                <h3>Allow The Community To See Work You’ve Done Locally</h3>
                <p>When you complete a job, other job searchers in the area can see you’ve been doing a great job and
                  can
                  hire you. The neighbour, the house across the road. They can all reach out and request your services.
                </p>
              </div>
            </li>
            <li>
              <div class="what-get-li">
                <h3>Unlimited Quotes</h3>
                <p>Don’t worry about not winning that job. You can quote as many times as you like. </p>
              </div>
            </li>
            <li>
              <div class="what-get-li">
                <h3>Become A Verified Trade</h3>
                <p>Give your customers the extra confidence to deal with you. Ownly Trade will verify your ABN,
                  Insurance
                  information, Licensing(where applicable)
                </p>
              </div>
            </li>
            <li>
              <div class="what-get-li">
                <h3>Chat direct to your customer</h3>
                <p>We encourage service providers to stay on the platform to communicate on the first and subsequent
                  jobs. Our subscription
                  model means we are aligned with you.</p>
              </div>
            </li>
            <li>
              <div class="what-get-li">
                <h3>Promote Your Business With Premium Listing</h3>
                <p>Show the world your work and your reviews. The premium listing lets anyone search you, see your
                  portfolio
                  and contact you.</p>
                <div class="free-months">
                  <h4>FREE</h4>
                  <!--  Removed required Subscription -->
                  <!-- <h4>$45 p/m</h4> -->
                  <!--  Removed required Subscription -->
                  <!-- <h5>FREE for the first 3 months </h5> -->
                </div>
              </div>
            </li>
          </ul>
          <!--  Removed required Subscription -->
          <!-- <div class="subscription-btn">
            <button [routerLink]="['/trader_signup']">SUBSCRIBE</button>
          </div> -->
          <!--  Removed required Subscription -->
        </div>
      </div>
    </section>

    <section class="client-book">
      <div class="container">
        <div>
          <h2> Client Book Upload Packages</h2>
          <p> Unique to Ownly Trade, upload your client book and immediately be linked to every property you have worked
            on,
            displaying your business for all property and trade requests linked to that property indefinitely.
          </p>
          <ul class="d-flex">
            <li class="trades-li-div">
              <h3>Trades</h3>
              <p>Packages starting from $99 per annum</p>
            </li>
            <li class="architects-li-div">
              <h3>Architects / Builders</h3>
              <p>Starting from $10 per property per annum</p>
            </li>
          </ul>
          <div class="enquire-now">
            <a href="mailto:team@ownly.com.au?subject=Client Book Upload Package"> Enquire Now</a>
          </div>
        </div>
      </div>
    </section>

  </div>
</ng-container>